@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
:root {
  font-size: 10px;
}

.hide {
  display: none;
}

.sub-header {
  position: fixed;
  width: 100vw;
  height: 3vh;
  z-index: 10;
  top: 0;
  animation: upDown 0.8s ease-in 1;
}

@keyframes upDown {
  from {
    height: 100%;
  }

  to {
    height: 3%;
  }
}

.sub-header :nth-child(1) {
  background-color: #022145;
  height: 25%;
}

.sub-header :nth-child(2) {
  background-color: white;
  height: 25%;
}

.sub-header :nth-child(3) {
  background-color: #cc0c2f;
  height: 25%;
}

.sub-header :nth-child(4) {
  background-color: #022145;
  height: 25%;
}

header {
  font-size: 1.6rem;
  position: fixed;
  background-color: white;
  width: 100vw;
  top: 3vh;
  z-index: 1;
}

.burger-1,
.burger-2 {
  display: none;
}

.Q {
  display: none;
}

header .burger {
  font-size: 4rem;
  font-weight: 100;
}

header article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
}

header nav {
  margin-left: 5vw;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 2vw;
  align-items: center;
  justify-content: center;
}

header nav ul li a {
  color: #022145;
  text-decoration: none;
}

header .logo {
  background-image: url(https://global.tommy.com/tommy-global-images/header/th-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0.7rem;
  width: 200px;
  height: 25px;
}

header .search {
  margin-left: 20vw;
  margin-right: 5vw;
  color: #babfc4;
}

header .search input {
  padding: 0 3px;
  border: none;
  width: 80px;
  border-right: 1px solid rgb(181, 176, 176);
}

button {
  background-color: #022145;
  color: white;
  padding: 12.5px 35px;
  margin-top: 3rem;
  font-weight: bold;
  font-size: 1.2rem;
}

button:hover {
  border: none;
  animation: btnAnm 1s 2 ease alternate;
}

@keyframes btnAnm {
  0% {
    background-color: #022145;
    width: 25%;
  }

  25% {
    background-color: #cc0c2f;
    color: white;
    height: 25%;
    width: 50%;
  }

  100% {
    background-color: transparent;
    color: #022145;
    height: 100%;
    width: 100%;
  }
}

.sec-1 {
  margin: 3vh;
  margin-top: 8vh;
}

.sec-1 .local-card-img {
  background-image: url(https://global.tommy.com/tommy-global-images/home-page/_size_2800x1572/A_Homepage_hero_banner_2800x1572.jpg);
  background-repeat: no-repeat;
  height: 115vh;
  background-size: cover;
  background-position: 0px 0;
  z-index: -10;
  position: relative;
}

.sec-1 main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.sec-1 h2 {
  color: white;
  font-size: 10rem;
  text-align: center;
}

.sec-1 p {
  color: white;
  font-size: 1.4rem;
}

.sec-2 article {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10vw;
}

.sec-2 main {
  text-align: center;
}

.sec-2 p {
  font-size: 3rem;
  color: #022145;
}

.sec-3 {
  margin: 0 3vw;
}

.sec-3 article {
  height: 100vh;
}

.sec-3 main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.sec-3 .local-card-img {
  background-image: url(https://global.tommy.com/tommy-global-images/home-page/_size_1818x1572/D_Homepage_banner_1808x1536.jpg);
  background-repeat: no-repeat;
  height: 100%;
  /* width: 60vw; */
  flex-basis: 60%;
  background-size: cover;
  background-position: 0px 0;
  z-index: -10;
  position: relative;
}

.sec-3 .sec-3-div {
  background-color: rgb(245, 245, 245);
  flex-basis: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sec-3 .sec-3-div div {
  width: 70%;
}

.sec-3 .sec-3-div div :first-child {
  font-size: 2.6rem;
  margin-bottom: 25px;
}

.sec-3 .sec-3-div div :nth-child(2) {
  font-size: 1.4rem;
  width: 90%;
  margin-bottom: 20px;
}

.sec-3 button {
  padding: 12.5px 77px;
}

.sec-4 {
  margin: 3vw;
}

.sec-4 article {
  height: 30vh;
}

.sec-4 main {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 7vw;
  color: rgb(220, 227, 229);
}

.sec-4 main p {
  font-size: 7rem;
  font-weight: bold;
}

.sec-5 {
  margin: 12vh 3vw;
  margin-bottom: 3vh;
  height: 120vh;
}

.sec-5 article {
  background-color: #f4f1f1;
  height: 100vh;
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec-5 article main {
  flex-basis: 45%;
  height: 100%;
  width: 100%;
}

.sec-5 article main div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10vh;
}

.sec-5 article :nth-child(1) div {
  background-image: url(https://global.tommy.com/tommy-global-images/home-page/_size_1060x1400/E_Homepage_collection_module_women_1060x1400.jpg);
  background-size: cover;
  height: 100%;
  border-right: 10px solid #022145;
  border-bottom: 10px solid #022145;
  transform: translateY(-10vh);
}

.sec-5 article :nth-child(2) div {
  background-image: url(https://global.tommy.com/tommy-global-images/home-page/_size_1060x1400/E_Homepage_collection_module_men_1060x1400.jpg);
  background-size: cover;
  height: 100%;
  border-right: 10px solid #cc0c2f;
  border-bottom: 10px solid #cc0c2f;
  transform: translateY(10vh);
}

.sec-6 .local-card-img {
  background-image: url(https://global.tommy.com/tommy-global-images/home-page/_size_1818x1572/D_Homepage_banner_Tommy_Jeans_1808x1536.jpg);
  background-repeat: no-repeat;
  height: 100%;
  width: 60vw;
  background-size: cover;
  background-position: 0px 0;
  z-index: -10;
  position: relative;
}

.sec-7 {
  margin: 3vw;
  margin-top: 20vh;
}

.sec-7 article {
  background-image: url(https://global.tommy.com/tommy-global-images/_size_2800x1080/F_Homepage_hero_banner_kids_2800x1080.jpg);
  height: 60vh;
  background-size: cover;
}

.sec-9 article {
  height: 30vh;
}

.sec-9 main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #022145;
}

.sec-9 main div {
  font-size: 3.5rem;
}

.sec-10 {
  margin: 8vh 12vw;
  margin-bottom: 0;
}

.sec-10 article {
  height: 50vh;
}

.sec-10 main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-10 main div {
  flex-basis: 40%;
  background-color: #022145;
  height: 100%;
  color: white;
  padding: 8vh;
  display: flex;
  flex-direction: column;
  gap: 8vh;
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-weight: 300;
  word-spacing: 0.4rem;
}

.sec-10 .local-card-img {
  background-image: url(https://global.tommy.com/tommy-global-images/home-page/_size_1404x766/HP_Banner_Teaser_1_1404x766.jpg);
  height: 100%;
  flex-basis: 60%;
  background-size: cover;
}

.sec-12 article {
  height: 90vh;
}

.sec-12 main {
  height: 100%;
}

.sec-12 .local-card-img {
  flex-basis: 100%;
  background-image: url(https://global.tommy.com/tommy-global-images/home-page/_size_2250x1228/CAREERS3_200403_142526.jpg);
  background-size: cover;
  height: 100%;
}

.sec-14 {
  margin-top: 3vh;
}

.sec-14 main div {
  padding-top: 14vh;
  padding: 8vh;
  gap: 18vh;
}

.sec-14 .local-card-img {
  background-image: url(https://global.tommy.com/tommy-global-images/home-page/_size_1404x766/HP_Banner_Teaser_2_1404x766.jpg);
  height: 100%;
  flex-basis: 60%;
  background-size: cover;
}

footer {
  background-color: #022145;
  padding: 10vh 5vw;
  margin: 3vh;
  margin-bottom: 0;
  margin-top: 20vh;
}

footer article > div {
  display: flex;
  justify-content: space-between;
}

footer article > div:nth-child(2) {
  padding-bottom: 45px;
}

.footer-logo {
  background-image: url(https://global.tommy.com/tommy-global-images/footer/th-logo-white.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0.7rem;
  width: 200px;
  height: 25px;
}

.con h6 {
  color: white;
  padding-bottom: 5px;
  font-size: 1.6rem;
}

.con a {
  display: block;
  text-decoration: none;
  color: white;
  line-height: 35px;
  font-size: 1.4rem;
  font-weight: 300;
}

a:hover {
  color: #cc0c2f;
}

.sub-footer {
  background-color: #cc0c2f;
  margin: 0 3vh;
  font-size: 1.4rem;
}

.sub-footer article {
  height: 15vh;
}

.sub-footer main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 5vw;
}

.con-6 a {
  color: white;
  display: inline-block;
  padding-right: 25px;
  font-size: 1.4rem;
}

.copy2022 {
  color: white;
}

@media screen and (max-width: 900px) {
  :root {
    font-size: 7px;
  }

  .sub-header {
    top: initial;
    bottom: 0;
  }

  header {
    top: initial;
    bottom: 2vh;
  }

  .burger-2 {
    display: none;
    color: #022145;
    font-size: 5rem;
  }

  .burger-1 {
    display: block;
    color: #022145;
    font-size: 5rem;
    font-weight: bold;
  }

  .bug-chesse {
    display: none;
  }
  
  header article {
    padding: 1.5vh 0;
  }

  header nav {
    background-color: rgb(234, 229, 229);
    position: absolute;
    margin-right: 10vw;
    width: 80vw;
    bottom: -50vh;
    transition: all 2s;
    z-index: 1;
  }

  header nav ul {
    padding: 10vh 7vw;
    flex-direction: column;
    gap: 5vh;
  }

  header nav ul li {
    display: block;
    width: 100%;
  }

  header nav ul li a {
    font-size: 2rem;
  }

  header nav ul li:hover {
    background-color: rgb(206, 198, 198);
  }

  .Q {
    display: block;
    font-size: 2rem;
    color: #b7bbc0;
  }

  header .search {
    display: none;
  }

  .sec-1,
  .sec-2,
  .sec-3,
  .sec-4,
  .sec-5,
  .sec-6,
  .sec-7 {
    margin: 0;
  }

  .sec-1 .local-card-img {
    height: 75vh;
  }

  .sec-2 article {
    height: 30vh;
    padding: 0 10vw;
  }

  .sec-3 main {
    flex-direction: column;
  }

  .sec-3 .local-card-img {
    width: 100%;
  }

  .sec-3 .sec-3-div {
    width: 100%;
  }

  .sec-4 {
    padding: 0;
  }

  .sec-5 {
    margin-top: 10vh;
  }

  .sec-5 article {
    flex-direction: column;
  }

  .sec-5 article main {
    flex-basis: 100%;
  }

  .sec-5 article main div {
    width: 100%;
  }

  .sec-5 article :nth-child(1) div {
    width: 100%;
  }

  .sec-7 article {
    height: 45vh;
    background-size: cover;
  }

  .sec-7 article h2 {
    font-size: 7.5rem;
  }

  .sec-9 article {
    height: 15vh;
  }

  .sec-10 {
    margin-top: 0;
  }

  .sec-10 main {
    flex-direction: column-reverse;
  }

  .sec-10 .local-card-img {
    width: 100%;
  }

  .sec-10 main div {
    gap: 5vh;
    padding: 2vh 8vh;
  }

  .sec-12 .local-card-img {
    background-position-x: -60vw;
  }

  .sec-14 {
    margin-top: 10vh;
  }

  .sec-14 main div {
    padding: 5vh;
    width: 100%;
    gap: 10vh;
  }

  footer {
    padding: 6vh 8vw;
  }

  footer .footer-logo {
    display: none;
  }

  footer article > div {
    flex-wrap: wrap;
    gap: 6rem;
  }

  .con h6 {
    font-size: 2.2rem;
  }

  footer article > div .con {
    flex-basis: 40%;
    flex-grow: 1;
  }

  .con a {
    font-size: 2rem;
  }

  .sub-footer {
    margin-bottom: 10vh;
  }
}

@media screen and (max-width: 500px) {
  .sec-2 article {
    height: 60vh;
    padding: 0 10vw;
  }
}

@media screen and (max-width: 700px) {
  .copy2022 {
    display: none;
  }

  .copy2022 {
    display: none;
  }

  .sub-footer main {
    justify-content: center;
  }

  footer {
    margin: 0;
    margin-top: 20vh;
  }

  .sub-footer {
    margin: 0;
    margin-bottom: 10vh;
  }
}

@media screen and (max-width: 410px) {
  .con h6 {
    font-size: 1.6rem;
  }

  .con a {
    font-size: 1.4rem;
  }
}
